@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    margin: 0px;
    background-color: rgb(0, 0, 0);
    color: white;
}

.inicial{
   text-align: center;
   padding-bottom: 60px;

}

#foto-inicial{
    width: 380px; 
   
}

.texto-padrao{
    padding: 30px 30px;
    text-align:center;
    /* width: 290px; */
    font-size: 17px;
    margin: auto;
    letter-spacing: 1px;
    line-height: 1;
}



.principal-inicial{
    text-align: center;
}

.degrade{
    font-size: 1.3em;
    /* font-weight:500; */
    padding: 20px auto;
    text-align: center;
    margin:15px;
}

.degrade>span{
    background-image: linear-gradient(128deg, rgba(255,209,0,1) 0%, rgba(255,124,0,1) 100%);
    color: rgb(236, 219, 219);

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

#principal-final{
    display: grid;
    margin: 20px;
}
.borda-degrade{
    border-width: 0px 0px 4px 0px;
    border-image: linear-gradient(to right, transparent, rgba(255,209,0,1), rgba(255,124,0,1), transparent) 1;
    border-style: solid;
    filter: brightness(1);
    /* margin:30px; */
}

.borda-degrade>p{
    padding-bottom: 80px;
}

[data-primeiro="primeiro"]{
    margin-top: 40px;
}
/* [data-espacado="maisEspaco"]{
    margin: 200px auto;
} */

.negative{
   
    display: flex;
    flex-direction: column; 
    font-size: 0.9em;
    letter-spacing: 1.2px;
    width:200px;
    height: 180px;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    margin: 20px auto;
    border: 1px solid #fcd603;
    box-shadow: 1px 1px 15px #fcd603;
    justify-content: center;
    gap: 10px;
   
   
}

.negative, .negative>p {
    background: #0D0D0D;
    
}

.container-secundario{
    text-align: center;
    padding: 20px;
}
.container-secundario>p:nth-child(1){
    padding-bottom: 30px;
}

.course-structure{
    display: grid;
    margin: 20px;
   
}
.item{
    margin: 20px;
    background: #0D0D0D;
    /* background: rgba( 255, 255, 255, 0.05 ); */
    display: flex;
    flex-direction: column; 
    font-size: 0.9em;
    letter-spacing: 1.2px;
    width:230px;
    height: 220px;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    margin: 20px auto;
    border-width: 1px 0px 1px 0px;
    border-image: linear-gradient(to right, transparent 5%, rgba(255,209,0,1), rgba(255,124,0,1), transparent 95%) 1;
    border-style: solid;


}
.item>p, .item>h3{
    background: inherit;
    padding: 15px;
    margin:0;

}

.container-modulos{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
    

.modulos, .container-faq{
    width: 360px;
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    font-size: 1em;
    align-items: center;
    
    
}



.author{
    text-align: center;
    padding: 30px 30px 40px 30px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

    border-width: 0px 0px 4px 0px;
    border-image: linear-gradient(to right, transparent, rgba(255,209,0,1), rgba(255,124,0,1), transparent) 1;
    border-style: solid;
    filter: brightness(1);
}
   
#euler-author{
    width: 360px ;
    border-radius: 8px;
    margin: 10px;
}

.author>h3{
    color: #fcd603;
    margin: 20px;
    font-weight: lighter;
    text-transform: uppercase;
}

.author>p, .publico-alvo>p{
    text-align: center;
    letter-spacing: 1px;
    line-height: 20px;
    margin: 10px;
}

.descritivo{
    display: flex;
    /* width: 360px; */
    width: 280px;
    margin: auto;
    flex-direction: column;
    text-align: center;
    align-items: center;
    line-height: 25px;

}

.descritivo>p{
    font-size: 20px;
    padding: 30px;
    display: flex;
}

#total{
    color: red;
    font-size: 20px;
}

.qualquer{
    text-align: center;
    max-width: 600px;
    padding: 30px;
    margin: auto;
}

.qualquer span{
    color: #fcd603;
}

.qualquer>p{
    padding: 15px;
    
    margin: 10px;
}
#destaque{
    font-size: 20px;
    color: white;
}
.valor-item{
    border-top: 1px solid white;
}

.price{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #fcd603;
    box-shadow: 1px 1px 5px #fcd603;
    margin: 50px auto;
    border-radius: 10px;
    width: 230px;
    height: 320px;
    padding: 30px;
    justify-content: space-between;
    text-align: center;
}

span.destak-price{
    background-color: red;
}

span#price,span#price>strong{
    font-size: 40px;
    color: rgb(19, 255, 19);
}

span#price>strong{
    font-size: 60px;

}

.line-through  {
    position: relative;
    color: red;
    font-size: 20px;

}

.line-through::after {
    content: ' ';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2.5px;
    background:red;
    animation-name: line-through;
    animation-duration: 3s;
    animation-timing-function:linear;
    animation-iteration-count: 2;
    animation: line-through 2s linear infinite
}

.garantia{
    width: 240px;
    background-image: linear-gradient(180deg,#f67600,#f59419,#f4b510,#f67600,#f59419);
    /* background-size: 400% 200%;  */
    border-radius: 10px;
    height: 300px;
    padding: 25px;
    margin: 10px auto;
    color: black;
    text-align: center;
    font-weight: bold;

}  

.garantia>h3{
    color: white;
}

.container-faq>h3{
   
    font-size: 60px;
    font-style: italic;
    text-shadow: 1px 1px 4px #fcd603;
    color: black;
    margin:10px;

    
}
.publico-alvo{
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 600px;
    padding: 30px;
}
.publico-alvo>h3{
    padding: 0 10px ;
}

.publico-alvo li{
    padding: 8px 0 ;
}

.publico-alvo>p{
    text-align: center;
    
}

.publico-alvo>botao-degrade{
    margin: auto;
}


/* .garantia>div{
    background-image: linear-gradient(45deg,#f67600,#f59419,#f4b510,#f67600,#f59419);
} */

/* #C10A0A  COR DO ÍCONE DE EXCLUSÃO */


/* @media (1920px <= width ){
    *{
        background-color: #15F305;
    }
    #principal-final{
        grid-auto-flow: column;
        justify-content: center;
        
        grid-auto-columns: 220px;

    }   
    .botao-degrade{
        width: 300px;
    }   
} */

@media (1200px <= width){
    #principal{
        width: 900px;
        margin: auto;
        align-items: center;
    }
    #principal-final{
        /* grid-auto-flow: column; */
        justify-content: center;
        
        grid-template-columns: 300px 300px 300px;
    }
    .botao-degrade{
        width: 300px;
    }
    .price{
        width: 290px;
        height: 300px;
    }
    .course-structure{
        grid-template-columns: 280px 280px 280px;
    }

}
@media (992px <= width <= 1199px){
    #principal{
        width: 820px;
        margin: auto;
    }
    #principal-final{
        /* grid-template-columns: 200px 200px 200px 200px; */
        grid-template-columns: 270px 270px 270px;
        justify-content: center;
        
    }    
    .botao-degrade{
        width: 300px;
    }
    .price{
        width: 290px;
        height: 300px;
    }
    .course-structure{
        grid-template-columns: 280px 280px 280px;
    }
}
@media (768px <= width <= 991px){
    
    

    #principal-final{
        grid-template-columns: 300px 300px;
        justify-content: center;
    }
    .botao-degrade{
        width: 300px;
    }
    .price{
        width: 290px;
        height: 300px;
    }

}
 @media (650px <= width <= 767px){
   
    #principal-final{
        grid-template-columns: 1fr 1fr 1fr;
       }
} 
@media (481px <= width <=835px){
    /* *{
        background-color: blueviolet;
    }  */
    #principal-final{
       
     /* grid-template-columns: 300px 300px; */
     justify-content: center;
     
    }
    .author>h3{
        width: 200px;
    }

}
@media (480px >= width){
    
    .container-modulos>p{
        font-size: 19px;
    }
    .author>h3{
        width: 200px;
    }
    
} 


@keyframes line-through{
    0%   { width : 0; }
    100% { width: 100%; }
}


